<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Director Registration Successful</title>
    <style>
      body { font-family: 'Arial', sans-serif; background-color: #f4f4f4; color:
      #333; margin: 0; padding: 20px; text-align: center; } h1 { color: #007bff;
      } p { line-height: 1.6; margin-bottom: 10px; } footer { margin-top: 20px;
      font-style: italic; color: #777; }
    </style>
  </head>
  <body>
    <h1>Welcome to the System!</h1>
    <p>Dear {{firstName}} {{lastName}},</p>
    <p>You have been added as a director on the SIWES system. We are
      excited to have you on board!</p>
    <p>Below are your login details</p>
    <p><b>Email: </b>{{email}}</p>
    <p><b>Password: </b>{{password}}</p>
    <p><b>SIWES Portal URL: </b><a
        href="https://siwes-website.vercel.app"
      >https://siwes-website.vercel.app</a></p>
    <i>Please ensure to change your password as soon as you can</i>
    <p>If you encounter any issues or have any questions, please don't hesitate
      to contact the SIWES support team.</p>
    <p>Best regards,</p>
    <footer>The SIWES Team</footer>
  </body>
</html>

